

.container {
    height: 70vh;
    background: #e0dede;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

header {
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 35px;
    color: black;
  }

body {
  background-color: #e0dede;
  margin: 0px
}


.wrimagecard {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    width: 550px;
}

.wrimagecard .fa {
    position: relative;
    font-size: 60px;
}

.wrimagecard-topimage_header {
    padding: 20px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}